<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DID_매장</title>
    <h1>DID 블록체인 신분증</h1>
    <img src="/images/person.png" width:400px height:400px />
  </head>
  <style>
    body {
      text-align: center;
    }
  </style>
   <h3> 발급 기관명 : 서초 경찰서 <br>
  발급자 :  송진우 경찰청장</h3>

  <h2>인증이 정상 완료되었습니다.</h2>
   </form>
  <h3>
  <br>
  <span style="border:1px solid;padding:20px; text-align: center ;">
   DID를 인증해주셔서 감사합니다
  </span>
</h3>
  <br>
  <img src="/images/police.png" width:15px height:15px>
  <h3>서울지방경찰청</h3>
  <br></br>
  <small>문의사항 : Tel. 010-111-1111</small>
  <body></body>
</html>
